.reloj {
  background: darkblue;
  height: 250px;
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  border: 3px solid;
  border-color: brown;
}

.clock {
  width: 150px;
  height: 150px;
  font-family: fantasy;
  font-size: 140px;
  color: white;
}

.hora {
  color: tan;
  font-family: "Times New Roman", Times, serif;
}

.minutos {
  color: tomato;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 120px;
}

.segundos {
  font-size: 150px;
}
