.topnav {
  overflow: hidden;
  background-color: dimgray;
}

.btn {
  float: left;
  color: white;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 18px;

  &:hover {
    background-color: teal;
    color: black;
  }
}

.active {
  font-size: 20px;
  background-color: green;
  color: white;

  @ref .btn, float;
  @ref .btn, color;
  @ref .btn, text-align;
  @ref .btn, padding;
  @ref .btn, text-decoration;
}

.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  background-color: white;
  grid-gap: 10px 10px;
}

.carta {
  background-color: rgb(217, 240, 243);
  border-style: solid;
  border-color: gold;
  border-radius: 10px;
  text-align: center;
  box-shadow: 6px 6px 5px black;
  text-shadow: 0 0 5px grey;

  .front {
    display: none;
  }

  &:hover .back {
    display: none;
  }

  &:hover h5 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    font-weight: bold;
  }

  &:hover .front {
    display: inline-block;
    animation: resize 2s infinite;
  }
}

@keyframes resize {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(2);
  }
}
